name: Playwright QA Sum

on:
  workflow_dispatch:
  push:

permissions:
  contents: read

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          playwright install --with-deps

      - name: Run Playwright Script - 24ds1000021@ds.study.iitm.ac.in
        run: |
          python scrape.py
